body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(./assets/bg-pattern-top.svg), url(./assets/bg-pattern-bottom.svg);
    background-position: -60% 160%, 140% -110%;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Kumbh Sans;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px hsla(0, 0%, 0%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-top {
    height: 35%;
    width: 100%;
    background: url("./assets/bg-pattern-card.svg");
    border-radius: 20px 20px 0 0;
}

.card-profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 5px auto;
    position: relative;
    left: 35%;
    top: 60%;
    background-color: white;
}

.card-details {
    height: 30%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid hsl(0, 0%, 59%);
}

.main-text {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
    margin: 5px 10px;
}

.sub-text {
    color: hsl(227, 10%, 46%);
    font-size: 16px;
    font-weight: 400;
    margin: 0px 5px;
}

.stats {
    text-align: center;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}